html {
  font-size: 18px;
  line-height: 1.4;
}



/* ======This is the top of the page ===== */


.background.image {
  display: flex;
  flex-direction: column;
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 30rem;
  align-items: center

}

.container-top {
  display: flex;
  justify-content: space-between;
  width: 960px;
  color: white;
  background-color: cadetblue;
  margin-top: 1rem;

}

.logo.white {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo.white img {
  margin-left: 2rem;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 1.5rem;
}

.logo.white span {
  font-family: Helvetica;
  font-size: 1rem;

}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
}

.nav span {
  padding-right: 2rem;

}

.mid-ban {
  background-color: white;
  margin: 10rem -21rem 0 0;
  padding: 1.5rem 5rem;
  float: right;
}

.mid-ban span {
  font-size: 2rem;
  font-family: Helvetica;
  font-weight: bold;
  line-height: 1.2;
}

/* Below here is the mid section of the webpage */

.container-mid {
  display: flex;
  justify-content: center;
}

.three-icons {
  margin-top: 3rem;
  display: flex;
  width: 960px;
  height: 8rem;
  justify-content: center;

}
.icon-1 span {
  margin-top: 1rem;
}

.icon-2 span, .icon-3 span {
  margin-top: 2.5rem;
}

.icon-1, .icon-2, .icon-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.icon-1 span, .icon-2 span, .icon-3 span{
  display: block;
  text-align: center;
}

.picture-1 {
  width: 3.5rem;
  margin-left: 1.5rem;
}

.picture-2 {
  width: 5rem;
}

.picture-3 {
  width: 5rem;
}

/* Below is the last container of the webside */

.container-last {
  display: flex;
  justify-content: center;

}

.stories {
  width: 960px;
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.philosophy, .appointments {
  width: 35%;
  margin-right: 5%;
}
.text {
  margin-top: 1rem;
}

.philosophy h4, .appointments h4 {
  background-color: cadetblue;
  font-family: Helvetica;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  width: 10rem;
  color:white;
}

/* Below is the footer of the webside */
footer {
  background-color: azure;
  width: 960px;
  display: flex;
  margin-top: 5rem;
  align-items: center;



}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-logo {
  padding: 4rem 0rem 4rem 4rem;
}

.footer-logo img {
  height: 1.5rem;

}

.footer-logo span {

  align-items: center;
  margin-top: 3rem;

}
