html {
  font-size: 18px;
  line-height: 1.4;
}


/* ======This is the top of the page ===== */
.background.image {
  display: flex;
  flex-direction: column;
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
  align-items: center

}

.container-top {
  display: flex;
  justify-content: space-between;
  width: 960px;
  color: white;
  background-color: cadetblue;
  margin-top: 1rem;

}

.logo.white {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo.white img {
  margin-left: 2rem;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 1.5rem;
}

.logo.white span {
  font-family: Helvetica;
  font-size: 1rem;

}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
}

.nav span {
  padding-right: 2rem;

}

.mid-ban {
  background-color: white;
  margin: 10rem -21rem 0 0;
  padding: 1.5rem 5rem;
  float: right;
}

.mid-ban span {
  font-size: 2rem;
  font-family: Helvetica;
  font-weight: bold;
  line-height: 1.2;
}

/* Below here is the mid section of the webpage */

.container-mid {
  display: flex;
  justify-content: center;
}


.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

.service img.paper-icon {
  width: 3.5rem;
}

/* Below is the last container of the webside */

.container-last {
  display: flex;
  justify-content: center;

}

.stories {
  width: 960px;
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.philosophy, .appointments {
  width: 35%;
  margin-right: 5%;
}
.text {
  margin-top: 1rem;
}

.philosophy h4, .appointments h4 {
  background-color: cadetblue;
  font-family: Helvetica;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  width: 10rem;
  color:white;
}

/* Below is the footer of the webside */
footer {
  background-color: azure;
  width: 960px;
  display: flex;
  margin-top: 5rem;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  padding: 4rem 0rem 4rem 4rem;
}

.footer-img {
  height: 1.5rem;
}

.footer-text {
  align-items: center;
  padding-left: 1rem;
}

.menu {
  display: none;
}

/* =========== BELOW IS MEDIA QUIRES FOR TABLET DEVICES ===========*/

@media only screen and (max-width: 1024px) {

  .background.image {
    height: 22rem;

  }

  .container-top {
    width: 100%;
    margin-top: 0px;
  }

  .mid-ban {
    margin-top: 5rem;
    margin-right: 2rem;
    margin: 10rem -21rem 0 0;
    float: right;
  }

  .mid-ban span {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    font-family: Helvetica;
    font-weight: bold;
  }


}



/* ========= BELOW IS MEDIA QUIRES FOR MOBILEPHONES ========*/

/*========= the top of the webpage with nav and main-banner =======*/

@media only screen and (max-width: 470px) {
  .background.image {
    height: 17rem;
    background-position: 20%;
  }

  .container-top {
    margin-top: 0px;
    width: 100%;
  }

  .logo.white span {
    display: none;
  }

  .nav {
    display: none;
  }

  .menu {
    display: block;
    margin: 1rem 1rem 0 0;

  }

  .mid-ban {
    width: 100%;
    padding: 0 1rem;

    margin: 9rem auto 0 auto;
    text-align: center;
  }
}

/*========= BELOW IS THE MEDIQ QUIRES FOR THE MID OF THE WEBPAGE MOBILE =======*/
@media only screen and (max-width: 470px) {
  .service {
    height: auto;
    margin: .77rem;
    font-size: .77rem;
  }


  .container-mid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .stories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .philosophy h4, .appointments h4 {
    width: 100%;
    margin-top: 4rem;

  }

  .philosophy, .appointments {
    width: 100%;
    margin-left: 1.5rem;
  }



  .text {
    font-size: .77rem;
  }
}

  /*====== BELOW IS THE FOOTER FOR MOBILE ========*/
  @media only screen and (max-width: 470px) {

    footer {
    justify-content: center;
    }

  .footer-text {
    display: none;
  }





  }
